In [1]:
message = "i am so tired"
print(message)

i am so tired

In [7]:
message = "i am super tired"
print(message)

i am super tired

In [13]:
first_name = "miss"
last_name = "peggy"
print(first_name + last_name)

misspeggy

In [18]:
# combine the variables' values separated by a space
# whitespace is also a string
# save results to a new variable "full_name"
full_name = first_name + " " + last_name
print(full_name)

miss peggy

In [23]:
# show output of value stored in "full_name"
print("Go home, " + full_name.title() + "$")

Go home, Miss Peggy$

In [24]:
# define a variable "name" with the string value "ada lovelace"
name = "miss peggy"
# will title case to "Ada Lovelace"
print(name.title())

Miss Peggy

In [25]:
print(name.upper())

MISS PEGGY

In [26]:
# all lowercase letters "ada lovelace"
print(name.lower())

miss peggy

In [34]:
quote = "'it is better to raise strong children than fix broken men'"
print("frederick douglass once said" + " " + quote)

frederick douglass once said 'it is better to raise strong children than fix broken men'

In [35]:
quote = "'it is better to raise strong children than fix broken men'"
famous_person = "frederick douglass"
print(famous_person + " " + "once said" + " " + quote)

frederick douglass once said 'it is better to raise strong children than fix broken men'

In [36]:
namie = "rocky bullwinkle"

In [39]:
print("\tname")

	name

In [42]:
print("name\n" + name)

name
miss peggy

In [43]:
4*3-2+5-7

8

In [55]:
number = 14

In [58]:
number = 14
# use the str() function to turn integer into string
# this allows all the values to concatenate properly
print("my favorite number is" + " " + str(number))

my favorite number is 14

In [ ]:
#this is a big ole comment and will not affect the code
print("my favorite number is" + " " + str(number))